<article>

  <h2>Weekly Menu</h2>

  <div class="box" *ngFor="let recipe of recipies; let odd=odd; let even=even">
    <a href="#/recipe/{{recipe.recipeId}}">
      <div class="box-content" [class.float-left]="even" [class.float-right]="odd">
        <h2>{{recipe.recipeId | toDayOfWeek}}</h2>       
        <h4>{{recipe.name}}</h4> 
      </div>
      <div class="box-image" [class.float-left]="odd" [class.float-right]="even">
        <img src="content/images/food/{{recipe.image}}.jpg" width="200" height="120" alt="Recipe Image">
      </div>
    </a>
  </div>

</article>
  